@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: hsl(180, 52%, 96%);
}

.bg-cyan {
    background: hsl(180, 29%, 50%);
}

.job-container {
    width: 1200px;
}

.bg-stacks {
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 52%, 96%)
}

.bg-selected {
    background-color: hsl(180, 29%, 50%);
    color: white;
}

.bg-test {
    background: hsl(180, 52%, 96%);;
}
/* - Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

- Desaturated Dark Cyan: hsl(180, 29%, 50%) */
